ion-content {
    --ion-background-color:#e1eaf9 !important;
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}

.signin-btns{
    margin-top: 25px;
    text-align: center;
    color: #f0f4fa;
}

ion-button {
    height: 48px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    --ion-color-primary: #215AB7;
  }

.text-center {
    text-align: center;
}

.text-box {
    border: transparent; 
    padding: 15px; 
    background-color: transparent; 
  }


ion-card {
    --ion-background-color: transparent;
    box-shadow: none;
}

ion-card-title{
    margin-top: 30px;
    font-size: 20px;
    color: #080808;
    text-align: center;
    font-weight: 500;
}

ion-card-subtitle {
    padding-top: 12px;
    font-size: 13px;
    color: #898585;
    text-align: center;
    font-weight: 200;
}

.custom-text {
    text-transform: lowercase; 
  }
  
  .custom-text::first-letter {
    text-transform: uppercase; 
  }