ion-content {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

ion-card {
  --ion-background-color: transparent;
  box-shadow: none;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  top: calc(50% + -25px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  h1 {  
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
  }
}

#form {
  margin-top: 12%;
  width: 100%;
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

ion-item {
  border-radius: 150px;
  margin-top: 10px;
  align-items: center;
  background-color: #a7a5cf1c;
  --background: #d6dae828; /* Asegura que todo el área del item tenga el color de fondo deseado */

  ion-label {
    font-size: 14px;
    color: #000000; /* Asegura que el texto del label sea visible */
  }

  ion-input {
    font-size: 18px;
    padding: 8px 5px;
    width: 100%;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --background: #817cda00; /* Color de fondo deseado para los inputs */
    --color: #000000; /* Color del texto dentro del input */
  }

  ion-button {
    --background: transparent;
    --color: white;
    margin-left: 10px; /* Añade espacio entre el input y el botón */
  }
}

ion-toolbar {
  --background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

ion-button {
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  --background: #786ee6; 
  --color: white; 
}


.floating-button-container {
  position: fixed;
  top: calc(50% + -2px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
