<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicio de sesión </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input>Nombre de usuario</ion-input>
      <ion-input>Contraseña</ion-input>
      <ion-button expand="full"  color="primary">Ingresar</ion-button>
      <ion-button expand="full" fill="clear" routerLink="">Olvidé mi contraseña</ion-button>
      <ion-button expand="full" fill="clear" routerLink="">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
