<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goToLogin()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="">
    <h1> Cambiar Contraseña</h1>
  </div>
    <form id="form" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input [(ngModel)]="currentPassword" name="currentPassword" [type]="currentPasswordVisible ? 'text' : 'password'" required></ion-input>
      
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input [(ngModel)]="newPassword" name="newPassword" [type]="newPasswordVisible ? 'text' : 'password'" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar nueva contraseña</ion-label>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" [type]="confirmPasswordVisible ? 'text' : 'password'" required
      ></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button shape="round" type="submit" (click)="goToLogin()" [disabled]="!resetPasswordForm.form.valid || newPassword !== confirmPassword">
        Restablecer contraseña
      </ion-button>
    </div>

  </form>
</ion-content>
