<ion-app>
  <div class="background-image"></div>

  <ion-menu contentId="main-content" side="start" menuId="custom-menu" swipeGesture="true">
    <ion-content class="menu-content">
      <ion-grid class="menu-grid">
        <ion-row class="ion-align-items-center profile-section">
          <ion-avatar class="profile-avatar">
            <img *ngIf="fotoPerfil; else defaultImage" [src]="fotoPerfil" alt="Foto de Perfil">
            <ng-template #defaultImage>
              <img src="assets/icon/avatar.png" alt="Foto por defecto">
            </ng-template>
          </ion-avatar>
          <ion-col class="ion-text-center">
            <h2 class="username">¡Buenos días!</h2>
          </ion-col>
        </ion-row>
  
        <ion-row class="menu-items">
          <ion-col size="12">
            <ion-label class="menu-section-label">Apps Favoritas</ion-label>
            <ion-item button (click)="scan()">
              <ion-icon slot="start" name="camera"></ion-icon>
              <ion-label>Escanear Qr</ion-label>
            </ion-item>
            <ion-item button (click)="abrirVivoDuoc()">
              <ion-icon slot="start" name="images"></ion-icon>
              <ion-label>Vivo Duoc</ion-label>
            </ion-item>
            <ion-item button (click)="abrirGmail()">
              <ion-icon slot="start" name="logo-google"></ion-icon>
              <ion-label>Gmail</ion-label>
            </ion-item>
            <ion-item button (click)="abrirGoogle()">
              <ion-icon slot="start" name="logo-google"></ion-icon>
              <ion-label>Google</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        
  
        <ion-row class="menu-items">
          <ion-col size="12">
            <ion-label class="menu-section-label">Configuración</ion-label>
            <ion-item button (click)="navigateToLogin()" (click)="closeMenu()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" style="color: white;">
        <ion-button (click)="openMenu()">
          <ion-icon class="menu-icon" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-segment [(ngModel)]="selectedView" class="transparent-segment">
        <ion-segment-button value="inicio">
          <ion-label>Inicio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="horario">
          <ion-label>Horario</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content id="main-content">
    <div [ngSwitch]="selectedView">
      <div *ngSwitchCase="'inicio'">

        <ion-card class="info-card">
          <ion-card-header>
            <div class="user-info">
              <ion-avatar>
                <img *ngIf="fotoPerfil; else defaultImage" [src]="fotoPerfil" alt="Foto de Perfil">
                <ng-template #defaultImage>
                  <img src="assets/icon/avatar.png" alt="Foto por defecto">
                </ng-template>
              </ion-avatar>
              <ion-label>
                <p>Hola,</p>
                <h3>{{ user?.name || 'Usuario' }}</h3>
              </ion-label>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="sunny-outline" class="top-right-icon"></ion-icon>
            <p style="text-align: center;">¡Es un gran día para avanzar con tus tareas!</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="info-card2">
          <ion-card-header> 
            Mantente siempre informado!
          </ion-card-header> 
          <ion-card-content> 
            <ion-card-title>{{ mensajeActual }}</ion-card-title> 
          </ion-card-content> 
        </ion-card> 
        
        <div class="floating-button-container">
          <ion-button shape="round" fill="clear" size="default" class="rounded-button" (click)="registrarAsistencia()">
            Marcar Asistencia
          </ion-button>
        </div>
      </div>
      

      <div *ngSwitchCase="'horario'">
        <ion-card *ngIf="horario && horario.id" class="info-card3">
          <ion-card-header>
            <ion-card-title>Tu Horario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="horario">
              <div *ngFor="let day of ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']">
                <ion-item *ngIf="horario[day]">
                  <ion-label>
                    <h3>{{ day }}</h3>
                    <ul>
                      <li *ngFor="let modulo of horario[day]">
                        <div *ngFor="let mod of modulo.modulo1">
                          <p>{{ convertToTimeFormat(mod.hora_inicio) }} - {{ convertToTimeFormat(mod.hora_fin) }}</p>
                        </div>
                        <div *ngFor="let mod of modulo.modulo2">
                          <p>{{ convertToTimeFormat(mod.hora_inicio) }} - {{ convertToTimeFormat(mod.hora_fin) }}</p>
                        </div>
                        <div *ngFor="let mod of modulo.modulo3">
                          <p>{{ convertToTimeFormat(mod.hora_inicio) }} - {{ convertToTimeFormat(mod.hora_fin) }}</p>
                        </div>
                      </li>
                    </ul>
                  </ion-label>
                </ion-item>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>
</ion-app>
